
.btn-score {
    padding-bottom: 15px;
    margin-top: 80px;
}

.btn-score:hover {
    cursor: default;
}

#incorrect {
    animation: bounce 0.82s linear infinite;
    background-color: red;
  }

  
  
@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
	40% {
        transform: translateY(-12px);
    }
	60% {
        transform: translateY(-6px);
    }
}

@media only screen and (max-width: 1350px) {
    .btn-score {
        margin-top: 0px;
        position: static;
        border-radius: 0px;
    }
}


.banner {
    background-image: url('../../assets/img/maxresdefault.jpg') !important;
    background-size: cover;
    height: 340px;
    margin: 0 !important;
    padding: 0 !important;
  }

